[submodule "dependencies/cereal"]
	path = dependencies/cereal
	url = https://github.com/dtmoodie/cereal
[submodule "dependencies/rcc"]
	path = dependencies/rcc
	url = https://github.com/dtmoodie/runtimecompiledcplusplus
[submodule "dependencies/cppzmq"]
	path = dependencies/cppzmq
	url = https://github.com/zeromq/cppzmq
[submodule "dependencies/Remotery"]
	path = dependencies/Remotery
	url = https://github.com/dtmoodie/Remotery
